# Flutter / Dart
.dart_tool/
.packages
build/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
pubspec.lock

# Android
android/.gradle/
android/app/build/
android/build/

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Runner.xcworkspace/xcuserdata/
ios/Runner.xcodeproj/project.xcworkspace/
ios/DerivedData/

# Xcode
*.xcworkspace
*.xcuserdata
*.xcuserstate
*.moved-aside
*.pbxuser
.DS_Store

# Firebase
firebase-debug.log
functions/node_modules/

# IDEs
.vscode/
.idea/
*.iml